body {
	background-color: rgb(253, 251, 251);
	margin: auto;
	
}

#cabecalho {
	position: fixed;
	top: 0;
	min-height: 150px;
	width: 100%;
	background-image: linear-gradient(to top right, #295802, rgb(148, 194, 111));
}

#cabecalho h1 {
	text-align: center;
	color: rgb(2, 0, 0);
	font-family: 'PT Sans Caption', sans-serif;
	text-transform: uppercase;
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

nav {
	text-align: center;
	padding-top: 30px;
}

nav a {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(206, 200, 200);
	letter-spacing: 1px;
	text-decoration: none;	
	text-transform: uppercase;
	text-shadow: rgb(26, 25, 25) 0.1em 0.1em 0.2em;
	padding-left: 10px;
}

nav a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
	transition: 0.4s;
}

h2, h3 {
	font-family: 'PT Sans Caption', sans-serif;
	text-shadow: rgb(37, 75, 170) 0.1em 0.1em 0.2em;
}

#minha_foto {
	height: 300px;
	width: 300px;
	border: 1.5px solid black;
	background-color: black;
	padding: 10px;			
}

.foto {
	margin-top: 200px;
	width: 330px;
}

.lista-ol {
	display: inline-block;
}
	
.lista-ul {
	display: inline-block;
}

.artigo-container {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
}

.aside-container {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10%;
	padding-top: 4%;
}

p {
	line-height: 1.5em;
	font-size: 18px;
}

table, th, td {
	border: 1px solid black;
}

.tabela {
	width: 210px;
	margin-left: auto;
	margin-right: auto; 
	}

#rodape {
	margin-top: 20px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}
